<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="origenEnergia">
            <h2><span jhiTranslate="testmono04App.origenEnergia.detail.title">Origen Energia</span> {{origenEnergia.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="testmono04App.origenEnergia.nombre">Nombre</span></dt>
                <dd>
                    <span>{{origenEnergia.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="testmono04App.origenEnergia.estado">Estado</span></dt>
                <dd>
                    <span>{{origenEnergia.estado}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/origen-energia', origenEnergia.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
