<div>
    <h2 id="page-heading">
        <span jhiTranslate="testmono04App.origenAgua.home.title">Origen Aguas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-origen-agua" [routerLink]="['/origen-agua/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="testmono04App.origenAgua.home.createLabel">
            Create a new Origen Agua
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="origenAguas?.length === 0">
        <span jhiTranslate="testmono04App.origenAgua.home.notFound">No origenAguas found</span>
    </div>
    <div class="table-responsive" *ngIf="origenAguas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="testmono04App.origenAgua.nombre">Nombre</span></th>
            <th scope="col" ><span jhiTranslate="testmono04App.origenAgua.estado">Estado</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let origenAgua of origenAguas ;trackBy: trackId">
                <td><a [routerLink]="['/origen-agua', origenAgua.id, 'view' ]">{{origenAgua.id}}</a></td>
                <td>{{origenAgua.nombre}}</td>
                <td>{{origenAgua.estado}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/origen-agua', origenAgua.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/origen-agua', origenAgua.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(origenAgua)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
